/logs
/data/vtac_es/PRODUCT_INFO
/data/vtac_es/PRODUCT_MEDIA
/data/vtac_es/PRODUCT_PDF
/data/vtac_ita/PRODUCT_INFO
/data/vtac_ita/VTAC_PRODUCT_INFO_LITE
/data/vtac_ita/PRODUCT_PDF
/data/vtac_uk/PRODUCT_INFO
/data/vtac_uk/VTAC_PRODUCT_INFO_LITE
/data/vtac_uk/PRODUCT_PDF
.idea/shelf/
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/vtac-scrapping.iml

# Default ignored files
/shelf/
/workspace.xml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/vtac-scrapping.iml