/logs
data/vtac_italia/PROD
data/vtac_italia/TEST
data/vtac_spain/PROD
data/vtac_spain/TEST
data/vtac_uk/PROD
data/vtac_uk/TEST
data/vtac_merged
/dlls
.idea/shelf/
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/vtac-scrapping.iml

# Default ignored files
/shelf/
/workspace.xml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/vtac-scrapping.iml
/data/vtac_italia/
/data/vtac_spain/
/data/vtac_uk/
