/logs
/vtac_spain/VTAC_PRODUCT_INFO
/vtac_spain/VTAC_PRODUCT_INFO_LITE
/vtac_spain/VTAC_PRODUCT_PDF
/vtac_italia/VTAC_PRODUCT_INFO
/vtac_italia/VTAC_PRODUCT_INFO_LITE
/vtac_italia/VTAC_PRODUCT_PDF
/vtac_uk/VTAC_PRODUCT_INFO
/vtac_uk/VTAC_PRODUCT_INFO_LITE
/vtac_uk/VTAC_PRODUCT_PDF
.idea/shelf/
.idea/misc.xml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/vtac-scrapping.iml
