<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Optima Scraping Tool{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
      <div id="branding">
        <h1><span class="highlight">Scraping</span> Tool</h1>
      </div>
    </header>
    <div class="container">
        <aside>
            <h3>Navigation</h3>
            <table>
                <tr>
                    <td><a href="/">Dashboard</a></td>
                </tr>
                <tr>
                    <td><a href="/scrapers">Scrapers</a></td>
                </tr>
                <tr>
                    <td><a href="/merge">Merge V-TAC</a></td>
                </tr>
                <tr>
                    <td><a href="/imports">Odoo Imports</a></td>
                </tr>
            </table>
        </aside>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
