<!-- templates/index.html -->
{% extends 'header.html' %}

{% block content %}
    <main>
        <h2 class="highlight">Dashboard</h2>
        <div class="left-side-main">
            <h3>Product count : </h3>
        <table border="1" class="monitor-table">
            <tr>
                <th rowspan="2">Website</th>
                <th colspan="2">Links</th>
                <th colspan="2">Local</th>
            </tr>
            <tr>
                <th>Count</th>
                <th>New</th>
                <th>Count</th>
                <th>New</th>
            {% for record in data %}
                <tr>
                    <td>{{ record['website'] }}</td>
                    <td>{{ record['count'] | default(0) }}</td>
                    <td>{{ record['new'] | default(0) }}</td>
                    <td>{{ record['local_count'] | default(0) }}</td>
                    <td>{{ record['local_new'] | default(0) }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
        <form action="/process" method="post">
            <label for="data">Enter Data:</label>
            <input type="text" id="data" name="data">
            <input type="submit" value="Submit">
        </form>
    </main>
{% endblock %}
```
